	@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
body {
	padding: 0px;
	margin: 0px;
	font-family: lato;
}
.header {
	height: 33px;
	background-color: #323232;
}
.logo label {
	font-weight: bold;
	color: #ffffff;
}
.logo {
	float: right;
	margin-top: 4px;
	margin-right: 100px;
}
.logo img#user {
	position: relative;
	top: 3px;
	margin-right: 8px;
}
a {
	text-decoration: none
}
a:link {
	color: #FFFFFF;
}
a:hover {
	color: #000000;
	cursor: pointer;
}
a:active {
	color: #000000;
}
.dropdown {
	background-color: rgb(66, 67, 71);
	position: relative;
	margin-left: -10px;
	width: 127px;
	height: 57px;
	padding: 11px;
	line-height: 10px;
	left: -27px;
	top: 9px;
}
.dropdown p {
	margin-top: 1px;
}
.dropdown p a:link {
	color: #ffffff;
	s
}
#imgdrop {
	margin-left: -37px;
}
.logo ul {
	list-style: none
}
ul#mdrp {
	height: 21px;
	width: 0px;
	position: absolute;
	top: -4px;
	margin-left: 87px;
}
ul#subdrp {
	position: absolute;
	margin-left: -158px;
	top: 21px;
	background-color: rgb(75, 73, 73);
	text-align: left;
	padding: 0px 0px;
	display: none;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
}
ul#subdrp li {
	width: 141px;
	height: 31px;
	padding-top: 8px;
	padding-left: 8px;
}
#subdrp li a {
	color: #000;
}
ul#mdrp:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
	cursor: pointer;
}
#subdrp li:hover {
	background-color: #6D6B6B;
}
#subdrp li a {
	color: #ffffff;
}
.menu {
	height: 45px;
	background-color: #4DA1CC;
}
nav {
	position: absolute;
	top: 17px;
	left: 211px
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	background: #4DA1CC;
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover {
	background: #297DA8;
}
nav ul li:hover a {
	color: #fff;
}
nav ul li a {
	display: block;
	padding: 13px 20px;
	color: #FFFFFF;
	text-decoration: none;
}
nav ul ul {
	width: 141px;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}
nav ul ul li {
	float: none;
	border-bottom: 1px solid #FFFFFF;
	position: relative;
	background-color: #297DA8;
}
nav ul ul li a:hover {
	background: #5FAED6;
	cursor: pointer;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
.menu-active {
	background-color: #297DA8;
}
