/**@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
body {
	font-family: Lato, Arial, sans-serif;
	background-color: #FFFFFF;
	/* rgb(246, 243, 195);
	rgb(188, 190, 236);
	rgb(243, 228, 192);

}*/
h2 {
	color: #404040;
}
.red {
	color: #FF0000;
	font-size: 20px;
}
.inpbx {
	width: 213px;
}
.taginp {
	width: 487px;
}
td#leftalign a {
	margin-left: -8px;
}
td#leftalign label {
	margin-left: -6px;
}
td#leftalign2 a {
	margin-left: -4px;
}
td#leftalign2 label {
	margin-left: -2px;
}
td#leftalign3 a {
	margin-left: 26px;
}
td#leftalign3 label {
	margin-left: 0px;
}
#valign {
	position: relative;
	top: -71px;
}
#valgn a {
	position: relative;
	top: -71px;
}
#valigndetail {
	position: relative;
}
.lnktxt {
	width: 638px;
}
#required {
	text-align: right;
	margin-top: -46px;
}
.bannertbl {
	margin-left: 50px;
	margin-bottom: 30px;
}
.lstnews1 {
	margin-left: 50px;
}
.lstnews2 {
	margin-left: 50px;
	margin-bottom: 30px;
}
.seotbl {
	margin-left: 50px;
	margin-bottom: 30px;
}
.buttons {
	margin-left: 186px;
	margin-top: 20px;
}
.buttons2 {
	margin-left: 212px;
	margin-top: 20px;
}
#seoinp1 {
	width: 624px;
}
#seoinp2 {
	width: 624px;
}
hr {
	border-color: rgb(224, 224, 224);
}
a.tooltips, a.tooltips3, a.tooltips4, a.tooltips5, a.tooltips6, a.tooltips7 a.tooltipcar {
	outline: none;
	float: left;
}
a.tooltips strong, a.tooltips3 strong, a.tooltips4 strong, a.tooltips5 strong, a.tooltips7 strong {
	line-height: 20px;
}
a.tooltips:hover, a.tooltips3:hover, a.tooltips4:hover, a.tooltips5:hover, a.tooltips6:hover, a.tooltips7:hover a.tooltipcar:hover {
	text-decoration: none;
}
a.tooltips span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 23px;
	width: auto;
	line-height: 16px;
}
a.tooltipcar span {
	z-index: 10;
	display: none;
	padding: 5px 10px;
	margin-top: -18px;
	margin-left: 25px;
	width: auto;
	line-height: 16px;
}
a.tooltips2 span {
	z-index: 10;
	display: none;
	padding: 5px 10px;
	margin-top: -18px;
	margin-left: -45px;
	width: 50px;
	line-height: 16px;
}
a.tooltips3 span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 17px;
	width: 160px;
	line-height: 16px;
}
a.tooltips4 span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -80px;
	margin-left: 10px;
	width: 162px;
	line-height: 16px;
}
a.tooltips5 span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -13px;
	margin-left: 10px;
	width: auto;
	line-height: 16px;
}
a.tooltips6 span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -31px;
	margin-left: 24px;
	width: 173px;
	line-height: 16px;
}
a.tooltips7 span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -12px;
	margin-left: 9px;
	width: 178px;
	line-height: 16px;
}
a.tooltipcar:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #4DA1CC;
	background: rgb(237, 249, 255);
}
a.tooltips:hover span, a.tooltips2:hover span, a.tooltips3:hover span, a.tooltips4:hover span, a.tooltips5:hover span, a.tooltips6:hover span, a.tooltips7:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #4DA1CC;
	background: rgb(237, 249, 255);
}
.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}
a.tooltips2 {
	text-decoration: none;
}
a.tooltips3 {
	margin-top: 5px;
}
a.tooltips {
	margin-top: 6px;
}
/*CSS3 extras*/
a.tooltips span, a.tooltips2 span, a.tooltips3 span, a.tooltips4 span, a.tooltips5 span, a.tooltips6 span, a.tooltips7 span, a.tooltipcar span {
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
	font-size: 13px;
}
.buttons input, .buttons2 input, .buttons4 input, .buttons5 input, .buttons6 input {
	margin-right: 15px;
}
#button {
	border: none;
	background-color: #136792;
	color: #FFFFFF;
	font-size: 15px;
	height: 30px;
	width: 95px;
	outline: none;
}
#galbtn {
	border: 1px solid #A35A00;
	width: 120px;
	height: 28px;
	background-color: #FF8300;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 3px;
	outline: none;
	-webkit-box-shadow: 2px 2px 7px -2px rgba(50, 50, 50, 1);
	-moz-box-shadow: 2px 2px 7px -2px rgba(50, 50, 50, 1);
	box-shadow: 2px 2px 7px -2px rgba(50, 50, 50, 1);
	margin-left: -120px;
	background-image: url("../images/galbtn.png");
	background-repeat: no-repeat;
	padding-left: 41px;
	background-position-y: -2px;
}
input#galbtn:active {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-weight: bold;
	color: #E5FFFF;
background-image: -webkit-linear-gradient(top,
#DF7501 50%,
	#FFBF7A 100%);
background-image: -moz-linear-gradient(top,
#d47004 0%,
	#ff8400 100%);
background-image: -o-linear-gradient(top,
#d47004 0%,
	#ff8400 100%);
background-image: -ms-linear-gradient(top,
#d47004 0%,
	#ff8400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#ff8400', GradientType=0);
	background-image: url("../images/galbtn.png");
	background-color: #FF8300;
	-webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	-moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
	box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#button:hover {
	color: #FFFFFF;
	background-color: #319DD4;
}
#galbtn:hover {
	background-image: url("../images/galbtn.png");
	color: #FF8300;
	background-color: #FFF;
}
.modeltable thead, .modeltable tbody {
	text-align: center;
}
table.modeltable {
	margin-top: 55px;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 1);
	box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 1);
}
.modeltable thead {
	color: #FFFFFF;
}
.modeltable tbody {
	background-color: rgba(232, 184, 0, 0.19);
}
.modeltable thead, .modeltable th {
	height: 35px;
	background-color: rgb(101, 101, 101);
}
.modeltable #tablethmnail {
	padding: 5px;
	width: 76px;
	height: 41px;
}
.addnewpage {
	float: left;
	margin-top: -45px;
	margin-right: 2px;
}
.addnewpage input {
	width: 117px !important;
}
.modeltable {
	margin: auto;
}
#valign2 {
	position: relative;
	top: -82px;
}
#valign4 {
	position: relative;
	top: -23px;
}
#halign2 {
	margin-left: 36px;
}
#halign3 a {
	margin-left: 15px;
}
#textwidth {
	width: 642px;
	margin-bottom: 13px;
}
.rgtmarg {
	margin-right: 118px;
}
.inpbx1 {
	width: 216px;
}
#gal {
	margin-left: 110px;
}
#imgdimsion {
	width: 76px;
	height: 41px;
}
#pspace {
	line-height: 14px;
	text-align: left;
	padding-left: 10px;
}
.label {
	text-align: center;
	padding-bottom: 3px;
	width: 200px;
	font-size: 14px;
}
.action {
	text-align: center;
}
.action a {
	margin-right: 15px;
}
.addmodeltbl {
	margin-left: 56px;
}
.button1 {
	margin-left: 122px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.button1 input {
	margin-right: 15px;
}
a.tooltips2 span {
	text-decoration: none;
}
.clearfix {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}
.services {
	width: 900px;
	height: auto;
	margin-left: 50px;
}
.input-group-addon, .service:hover {
	cursor: pointer;
}
.service {
	margin-left: 72px;
	margin-top: 12px;
	margin-right: -18px;
	border-radius: 7px;
	/* text-align: center;
*/
	width: 120px;
	height: 90px;
	background-color: rgb(255, 255, 255);
	float: left;
	-webkit-box-shadow: 2px 2px 7px -2px rgba(50, 50, 50, 1);
	-moz-box-shadow: 2px 2px 7px -2px rgba(50, 50, 50, 1);
	box-shadow: 2px 2px 7px -2px rgba(50, 50, 50, 1);
background-image: -webkit-linear-gradient(top,
#DBDBDB 25%,
	#9E9E9E 52%);
	background-color: #C9C9C9;
}
.serviceadd {
	margin-left: 72px;
	margin-top: 12px;
	margin-right: -18px;
	border-radius: 7px;
	width: 120px;
	height: 90px;
	background-color: rgb(255, 255, 255);
	float: left;
background-image: -webkit-linear-gradient(top,
#DBDBDB 100%,
	#9E9E9E 52%);
	webkit-box-shadow: inset 8px 8px 4px -2px rgba(52, 50, 50, 0.81);
	-moz-box-shadow: inset 8px 8px 4px -2px rgba(52, 50, 50, 0.81);
	box-shadow: inset 6px 7px 6px -2px rgba(52, 50, 50, 0.81);
	background-color: #E0E0E0;
}
.serviceadd:active {
	margin-left: 72px;
	margin-top: 12px;
	margin-right: -18px;
	border-radius: 7px;
	width: 120px;
	height: 90px;
	background-color: rgb(255, 255, 255);
	float: left;
background-image: -webkit-linear-gradient(top,
#DBDBDB 6%,
	#9E9E9E 40%);
	webkit-box-shadow: inset 8px 8px 4px -2px rgba(52, 50, 50, 0.81);
	-moz-box-shadow: inset 8px 8px 4px -2px rgba(52, 50, 50, 0.81);
	box-shadow: inset 6px 7px 6px -2px rgba(52, 50, 50, 0.81);
}
.service-con {
	margin-left: 51px;
}
.sicon {
	margin-top: 11px;
	position: relative;
	margin-left: 43px;
}
.slabel {
	text-align: center;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.addser {
	text-align: center;
	margin-top: 14px;
}
#textw form {
	width: 628px;
}
.servicetbl {
	margin-left: 44px;
}
.servicetbl2 {
	margin-left: 44px;
}
.ovr-td {
	width: 84px;
}
.enquirytbl {
	margin-left: 52px;
	margin-bottom: 30px;
}
#colonrgt label {
	margin-left: 4px;
	margin-right: 4px;
}
#halign4 a {
	margin-left: 6px;
}
.contactustbl {
	margin-left: 57px;
	margin-bottom: 30px;
}
.valign3 {
	position: relative;
	top: -52px
}
td.valign3 a {
	position: relative;
	top: -0px
}
#halign4 {
	margin-left: 58px;
}
#halign5 {
	margin-left: 26px;
	margin-right: 4px
}
#colalg {
	margin-right: 4px;
}
.googlemap {
}
.googletbl {
	margin-left: 59px;
	margin-bottom: 30px;
}
.add {
	float: right;
	margin-top: 10px;
	margin-right: 2px;
}
.cnttbl tbody td {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 18px;
	font-size: 13px;
}
.cnttbl thead th {
	height: 35px;
	background-color: rgb(101, 101, 101);
}
.cnttbl tr:nth-child(even), .modeltable tr:nth-child(even) {
	background: #DDEFFF;
}
.cnttbl tr:nth-child(odd), .modeltable tr:nth-child(odd) {
	background: #B6D0EC;
}
.cnttbl thead {
	color: #FFFFFF;
}
#cntth2 {
	width: 10%;
}
#cntth3 {
	width: 6%;
}
#cntth4 {
	width: 14%;
}
#cntth5 {
	width: 26%;
}
#cntth6 {
	width: 24%;
}
#modelth1 {
	width: 15%;
}
#modelth2 {
	width: 15%;
}
#modelth3 {
	width: 21%;
}
#modelth4 {
	width: 10%;
}
#modelth5 {
	width: 46%;
}
.cnttbl tbody {
	background-color: rgba(232, 184, 0, 0.19);
}
table.cnttbl {
	-webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 1);
	box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 1);
	margin-top: 55px;
}
#button:hover {
	cursor: pointer;
}
#left3 {
	margin-left: 24px;
}
#left3 a {
	margin-left: 24px;
}
.buttons3 {
	margin-left: 157px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.buttons4 {
	margin-left: 65px;
}
.buttons5 {
	margin-left: 229px;
}
.buttons6 {
	margin-left: 194px;
	margin-top: 20px;
}
#sc {
	text-align: center;
}
.features {
	position: relative;
	top: -169px;
	margin-left: 623px;
}
.modltbl2 {
	margin-left: 65px;
	margin-bottom: 30px;
}
.modltbl {
	margin-left: 50px;
	margin-bottom: 30px;
}
#pright {
	margin-left: 54px;
}
.iconthumb {
	width: 35px;
	height: 30px;
}
.buttons7 {
	margin-left: 190px;
}
.error {
	display: none;
	width: auto;
	padding: 3px;
	color: #ffffff;
	background-color: #E03232;
	margin-left: 24%;
	margin-right: 30%;
	font-size: 15px;
}
.gal {
margin-left: 1% !important;
}
.master {
margin-left: 1% !important;
}
.green_message {
	padding: 3px;
	color: #ffffff;
	background-color: #48BB7F;
}
.red_message {
	padding: 3px;
	color: #ffffff;
	background-color: #E84949;
}
.del-outpopup {
	background: rgba(207, 205, 205, 0.5);
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
}
.del-delconfpop {
	display: none;
	width: 306px;
	height: 167px;
	top: 65px;
	left: 0;
	right: 0;
	float: none;
	margin: 0 auto;
	position: fixed;
	border-radius: 3px;
	border: 4px solid #cfcfcf;
	background: white;
	z-index: 1;
}
.mdr-dchead {
	color: #FFFFFF;
	background: #3894C3;
	font-family: arial;
	font-size: 20px;
	height: 35px;
	padding: 11px 0 0 16px;
	width: 95%;
	float: left;
}
.clearfix {
	clear: both;
}
.mdr-dccontent {
	height: 50px;
	margin: 14px 0 0 15px;
	width: 300px;
	float: left;
	color: #444444;
	font-family: arial;
	font-size: 16px;
}
.mdr-dcbutdiv {
	text-align: center;
	margin-top: 10px;
}
.jslghtbx-thmb {
	padding: 2px;
	cursor: pointer;
	box-shadow: 0px 0px 3px 0px #000;
}
.jslghtbx-thmb:hover {
	box-shadow: 0px 0px 14px 0px #000;
}
.jslghtbx-thmb1 {
	padding: 0px;
	cursor: pointer;
	box-shadow: 0px 0px 3px 0px #000;
}
.jslghtbx-thmb1:hover {
	box-shadow: 0px 0px 14px 0px #000;
}
#services a:visited {
	color: black;
}
.enquiryform, .seoinformation, .banner {
	margin: 0 0 0 15px;
}
.contact-us {
	margin: 0 15px 0 15px;
}
.head-content {
	padding: 0 15px 0 15px;
}
.cntth2 {
	width: 40%;
}
.cntth3 {
	width: 100px;
}
.tbltitle {
	background: #B6D0EC;
	height: 27px;
	font-weight: bold;
}
tr.tbltitle td {
	font-size: 16px;
}
.contus-textar {
	width: 210px;
	height: 100px;
	resize: none;
}
.vertalign {
	vertical-align: top;
}
table.cnttbl tbody tr td {
	vertical-align: top;
}
.td-model {
	width: 36px;
	text-align: right;
}
input, textarea, button {
	margin-top: 10px
}
/* Required field START */
.required-field-block {
	position: relative;
}
.required-field-block .required-icon {
	display: inline-block;
	vertical-align: middle;
	margin: -0.25em 0.25em 0em;
	background-color: #E8E8E8;
	border-color: #E8E8E8;
	padding: 0.5em 0.8em;
	color: rgba(0, 0, 0, 0.65);
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 0.325em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	transition: background 0.1s linear;
	font-size: 75%;
}
.required-field-block .required-icon {
	background-color: transparent;
	position: absolute;
	top: 0em;
	right: 1.5em;
	z-index: 10;
	margin: 0em;
	width: 30px;
	height: 30px;
	padding: 0em;
	text-align: center;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
.required-field-block .required-icon:after {
	position: absolute;
	content: "";
	right: 1px;
	top: 1px;
	z-index: -1;
	width: 0em;
	height: 0em;
	border-top: 0em solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 0em solid transparent;
	border-right-color: inherit;
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}
.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px 0 0 12px;
}
.btn {
	width: 100px;
}
.btn_group btn {
	margin: 10px;
}
.modal-header-info {
	color: #fff;
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	background-color: #5bc0de;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.modal-header-danger {
	color: #fff;
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	background-color: #d9534f;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.light {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #FFFFFF;
}
a:hover {
	cursor: pointer;
}
.pad {
	padding: 1px !important;
}
.pad h3 {
	padding-left: 10px;
}
.table-condensed {
	-webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
	margin-top: 13px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.upimg1 {
	position: relative;
	top: 2px;
	margin-left: 8px;
}
.cntth1 {
	height: 20%;
}
.cntth2 {
	width: 11%;
}
.imgdiv {
	margin-top: 35px;
}
.btndiv {
	margin-left: 77px;
	margin-top: -69px;
}
div.tab-pane {
	margin-left: 20px;
	margin-right: 20px;
}
th {
	text-align: justify !important;
}
td {
	text-align: justify !important;
}
.hide_text,#invoice,.thickness {
	display: none;
}
#mceu_17-0,
#mceu_36-0 {
	display: none;
}
.sort_item tr:active {
	border: 1px solid #009FC3 !important;
	background-color: whitesmoke !important;
	height: 38px !important;
	font-weight: bold !important;
	width: 500px !important;
}
.sort_item tr td:active {
	border: none !important;
}
.sort_item tr:hover {
	cursor: pointer !important;
}
/* #div1 {
	float: left;
	width: 23%;
}
.btnaction {
	margin-top: 2%;
	text-align: center;
}
/* Required field END */
.preview_container {
	height: 253px;
	overflow-y: auto;
	margin-top: -57px;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 1px 2px 10px 2px;
}
.cont {
	margin: 2px 0 15px 25px;
	width: 130px;
	padding: 0;
	float: left;
}
#div2 {
	text-align: center;
}
.modal-content.newbody {
	height: 371px;
}
.actionbtns {
	margin-top: -40px;
	padding: 0px;
	padding-left: 16px !important;
	padding-right: 0 !important;
}
.galbtns {
	margin-right: 41px;
}
.footerbtns {
	border-top: none !important;
}
.freeze {
	width: inherit;
	max-height: inherit;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	opacity: 0.6;
	display: none;
	background-color: black;
}
.bar {
	width: 98%;
	margin-top: 1px;
	position: relative;
}
.imgbar {
	position: relative;
	width: 144px;
	margin-top: 1px;
}
#img-bar {
	background-color: #057513;
}
.spnclr {
	color: #FFFFFF;
	font-weight: bold;
}
a.pull-right.cross {
	margin-right: 10px;
	margin-top: 7px;
	font-size: 16px;
}
.progress-bar {
	background-color: #057513 !important;
}
#pdfbar {
	max-width: 90%;
	display: none;
	background-color: rgba(5, 117, 19, 0.65) !important;
	position: absolute;
	top: 0;
}
.abort {
	font-size: 16px;
	position: absolute;
	right: -23px;
	top: -9px;
}
.abort-pdf {
	display: none;
	position: absolute;
	right: -5px;
	top: 8px;
}
.abort-img {
	position: absolute;
	right: -18px;
	top: -8px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 100% !important;
}
@media only screen and (max-width: 991px) {
.resmdl {
	margin-top: 15px;
}
.resmdlbtn {
	margin-left: -43px;
	margin-right: 20px;
}
.resmdlbtn2 {
	margin-right: 20px;
}
.prevcont {
	margin-top: 84px;
	margin-left: 0 !important;
	margin-bottom: 46px;
	width: 100% !important;
	clear: both;
}
}
@media only screen and (max-width: 767px) {
#minchar1,
#minchar2,
#minchar3 {
	float: right;
	margin-right: 20px;
}
.homepagelabel {
	float: left;
}
.bannerhme {
	clear: both;
}
.browsebtn {
	margin-top: 24px;
}
.resmdlbtn {
	margin-left: 0px;
	margin-right: 20px;
}
.resrdbtn {
	margin-top: 15px !important;
}
.imgdiv {
	margin-top: 15px;
}
.resmdl2 {
	margin-top: 15px;
}
.actgalbtn {
	margin-top: 20px;
}
.prevcont {
	margin-top: 80px;
}
.prvgalthb {
	width: 100% !important;
	height: auto !important;
}
}ss
.contact_us {
	margin-top: 13px;
}
.circle label {
	font-size: 18px;
	padding-left: 6px;
}
.outlet label {
	font-weight: normal !important;
	font-size: 14px;
	padding-left: 6px;
}
.hr-loc_incont {
	width: 20%;
	float: left;
}
.outlet {
	margin-left: 20px;
}
.hr-loc_cont {
	margin: 20px 0 30px 86px;
	display: block;
}
.bootstrap-datetimepicker-widget .picker-switch {
	text-align: center !important;
}
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
	text-align: center !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour.bottom {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.error-display {
	border: 1px solid red !important;
	border-radius: 3px 3px 3px 3px;
}
.fixed-table-body thead th .th-inner {
	padding: 8px !important;
}
#reportrange {
	padding: 0px 8px !important;
	border-radius: 5px;
	background: #fff;
	cursor: pointer;
	border: 1px solid #ccc;
}
.btn-del {
	padding: 7px !important;
}
.fixed-table-toolbar .columns-right {
	margin-left: 0px !important;
}
.fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
	line-height: 32px !important;
}
.columns.columns-right.btn-group.pull-right button {
	width: 50px !important;
}
.month {
	text-align: center !important;
}
.foot {
	font-weight: bold;
}
#total,
#purchase_total {
	border: none;
}
.navbar-brand {
	padding : 2px 15px !important;
}
.span1 {width: 25px; float: left; height:100%; }
.span2 {width: 24px; float: right; }
.overflow-auto{overflow: auto;}
.pagination_radius_left{ 
	margin-left: 0 !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}
.pagination_radius_right{
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.editable-buttons>.btn{width:45px !important;}
.popover-content{padding: 9px 22px !important;}
.wide-model{width:90% !important;}
.align-cent{
	text-align: center !important;
}
.align-rit{
	text-align: right !important;
}

.printtable>tbody>tr>td{
	padding:4px !important;
} 
.printtable{
	font-size:12px !important;
}
.fixed-head {
	position: fixed;
    width: 100%;
    display: block;
    z-index: 1;
    background: #fff;
}
.fixed-body{
    margin-top: 5%;
}
.fixed-head-content{
	margin-top: 2%;
}
.required-error{border-color: red !important;}