/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,body{
	background:#fff;
	font-size: 100%;	
	font-family: 'Muli', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}
/*--header--*/
.head {
	padding: 18px 0em;	
	/*background:rgba(255, 255, 255, 0.32);*/
}
.banner {
    margin-top: 11em;
}
.header{
	background:url(../../images/ba3.jpg) no-repeat center;
	width:100%;
	height:800px;
	text-align:center;
	background-size:cover;
}
.header1{
	height:92px;
}
.banner-text{
    border: 2px solid #FFF;
    display: inline-block;
    width: 100px;
    height: 100px;
	    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
}
.banner h2{
	font-size: 4em;
    color: #fff;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    display: block;
    line-height: 1.4em;
    width: 100px;
    height: 100px;
}
.banner p{
	font-size: 0.9em;
    color: #fff;
    line-height: 2em;
    width: 50%;
    margin: 0em auto ;
}
.banner span{
	display:block;
	margin:5em 0;
}
.banner-t {
    text-align: center;
    margin: 6em auto;
    width: 20%;
    position: relative;
}
.banner-t b{
	width: 100%;
    height: 2px;
    display: block;
    background: #48494b;
    margin-bottom: 3px;
}
.banner-t b.lin{
	width: 80%;
	margin:0 auto;
}
.banner-t  span{
	width: 40px;
    height: 40px;
    display: block;
    background: rgb(35, 39, 42);
    position: absolute;
    top: -7px;
    left: 45%;  
}
.banner-t  span i{
	width: 20px;
    height: 20px;
    display: block;
    border: 2px solid #48494b;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    margin-left: 0.7em;
}
/*----*/
.link-effect-4 a {
  padding: 0 10px;
  margin: 0 20px;
  text-shadow: none;
  position: relative;
}
.link-effect-4 a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0 0px;
  max-height: 0;
  color: #8b8b88;
  content: attr(data-hover);
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.link-effect-4 a:hover::before {
  max-height: 100%;
}
/*--header--*/
.logo h1{
	font-size:1.8em;
	font-family: 'Montserrat', sans-serif;
}
.logo h1 a{
	text-decoration:none;
	color:#fff;
}
.logo h1 a span{
	width: 40px;
    height: 40px;
    display:inline-block;
    border: 2px solid #fff;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
	margin-right: 12px;
}
.logo h1 a b{
	width: 40px;
    height: 40px;
    display: inline-block;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
	    line-height: 1.1em;
    text-align: center;
}
.logo h1 a i{
	display: block;
    font-style: normal;
        margin-left: 3em;
    font-size: 19px;
    
}
.navbar-brand {
   height: auto; 
    padding: 0; 
    font-size: 18px; 
    line-height: 20px;
}
.navbar-nav {
    float: right;
	margin-top: 20px;
}
.wp-chat>svg{    margin-top: 0.7em;margin-right: -2em;
}
.header-left{
	float:right;
	margin-top: 1.2em;
}
.header-left ul li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0 1em;
/*-- w3layouts --*/
}
.header-left ul li a {
    text-decoration: none;
    color: #fff;
}
.header-left ul li a:hover {
    color: #8b8b88;
}
.header-left ul li i{
    left: -.5em;
}
.navbar-top {
    float: left;
	width:70%;
}
.navbar-default {
    border: none;
    background: none;
    min-height: auto;
    margin-bottom: 0;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
ul.nav.navbar-nav li a {
    font-size: 1.1em !important;
    color: #FFFFFF;
    margin: 0 15px;
    padding: 0px 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background:none !important;
    color: #8b8b88 !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
a.submenu{
    color: #141313 !important;
}
ul.nav.navbar-nav li.active a {
    color:#8b8b88;
    background: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background:none;
}
/*--//header--*/
/*--services--*/
.ser-top {
    margin-bottom: 5em;
/*-- agileits --*/
}
.ser-top h3 {
    text-align: center;
    margin-bottom: 0.4em;
    font-size: 3em;
    font-weight: bold;
	color:#000;
}

.ser-t {
    text-align: center;
    margin: 0 auto;
    width: 20%;
    position: relative;
}
.ser-t b{
	width: 100%;
    height: 2px;
    display: block;
    background: #48494b;
    margin-bottom: 3px;
}
.ser-t b.line{
	width: 80%;
	margin:0 auto;
}
.ser-t  span{
	width: 40px;
    height: 40px;
    display: block;
    background: #fff;
    position: absolute;
    top: -7px;
    left: 42%;  
}
.ser-t  span i{
	width: 20px;height: 20px;
    display: block;
    border: 2px solid #48494b;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    margin-left: 0.7em;
}
.ser-head {
	-webkit-transform: rotate(45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(45deg) translate3d(0, 0, 0);
/*-- w3layouts --*/
	-ms-transform: rotate(45deg) translate3d(0, 0, 0);
	-o-transform: rotate(45deg) translate3d(0, 0, 0);
	transform: rotate(45deg) translate3d(0, 0, 0);
	display: inline-block;
	-webkit-transition: -webkit-transform 300ms ease-out;
	-moz-transition: -moz-transform 300ms ease-out;
	transition: transform 300ms ease-out;
    float: left;width: 25%;
}

.ser-grid:hover{
  background:#48494b;
      transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.ser-grid {
	width: 220px;
	height: 220px;
	display: block;
	opacity:1;
    border: 2px solid #48494b;
	position:relative;
}
.ser-grid1 {
    transform: rotate(-45deg) translate3d(0, 0, 0);
	-webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(-45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(-45deg) translate3d(0, 0, 0);
	-o-transform: rotate(-45deg) translate3d(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 14%;
    left: 4%;
}
.service {
    padding: 6em 0 8em;
}
.ser-grid1 i{
	font-size:2em;
	color:#000;
}
.ser-grid1 h3{
	font-size:1.8em;
	color:#000;
	margin: 0.4em 0;
}
.ser-grid1 p{
	font-size:0.9em;
	color:#999;
	line-height:1.8em;
	margin: 0 0 1em;
/*-- agileits --*/
}
.ser-grid:hover .ser-grid1 p{
	color:#fff;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//service--*/
/*--col-grid--*/
.col-grid-left {
    background-color: #eee;
    padding: 5em;
}

.col-grid-right {
    padding: 0;
}
.col-grid h3 {
    font-size: 2.5em;
        color: #48494b;
}
.col-grid h5 {
    font-size: 1.7em;
    line-height: 1.3em;
    margin: 0.8em 0 0;
    color: #000;
	font-weight: 100;
	font-family: 'Muli', sans-serif;
}
.col-grid p {
    font-size: 0.9em;
    margin: 1em 0;
    line-height: 2em;
    color: #999;
}
.col-grid-1{
	padding:0;
}

/*--team--*/
.team-top {
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;
  transition: transform 300ms ease-out;
      float: left;
    width: 25%;

}
.team-top1 {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0;
  display: block;
  overflow: hidden;
	background: #E2E2E2;
    border: 2px solid #48494b;
}
.team-top1 img {
  width: 220px;
  height: 220px;
  -webkit-transform: skew(0deg, 0deg) rotate(-45deg);
  -moz-transform: skew(-20deg, -20deg) rotate(-45deg);
  -ms-transform: skew(-20deg, -20deg) rotate(-45deg);
  -o-transform: skew(-20deg, -20deg) rotate(-45deg);
  transform: skew(0deg, 0deg) rotate(-45deg);
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.team-top1 img:hover {
  opacity: 1;
}
.team{
	padding:6em 0 8em;
}
.zoom-icon {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	display: block;
	left: 0;
	top: -152px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.32);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.team-top1 .zoom-icon {
	top: -100px;
	width: 100%;
}
.team-top1 .swipebox:hover .zoom-icon {
	top: 0%;
	opacity: 1;
	filter: alpha(opacity=99); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.zoom-icon1{
	-webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(-45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(-45deg) translate3d(0, 0, 0);
	-o-transform: rotate(-45deg) translate3d(0, 0, 0);
	transform: rotate(-45deg) translate3d(0, 0, 0);
    text-align: center;
	margin: 4em 0 0 3em;
}
.zoom-icon1{
	-webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
	-moz-transform: rotate(-45deg) translate3d(0, 0, 0);
	-ms-transform: rotate(-45deg) translate3d(0, 0, 0);
	-o-transform: rotate(-45deg) translate3d(0, 0, 0);
	transform: rotate(-45deg) translate3d(0, 0, 0);
    text-align: center;
	margin: 4em 0 0 1em;
}
.zoom-icon1 h5{
	font-size:2em;
	color:#fff;
	margin-bottom: 0.5em;
}
/*--team--*/
.social-ic li{
	display:inline-block;
}
.social-ic li a {
    width:35px;
    height: 35px;
    display: block;
	background:  #48494b;
    margin: 0 0.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-ic li a:hover{
	background:  #000;
}
.social-ic li a i {
    width:35px;
    height: 35px;
    display: block;
	background:  url(../../images/img-spr.png)no-repeat -2px -90px;
}
.social-ic li a i.ic {
	background: url(../../images/img-spr.png)no-repeat -63px -90px;
}
.social-ic li a i.ic1 {
	background: url(../../images/img-spr.png)no-repeat -123px -90px;
}
/*--//team--*/
.col-1-top, .col-1-bottom {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.col-1-top img, .col-1-bottom img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.col-1-top {
  position: relative;
}
.col-1-bottom {
  top: 0;
  left: 0;
  position: absolute;
}
.col-1-bottom .info-text {
  display: block;
  position: relative;
  padding: 2em;
  float: left;
  left: 50%;
  top: 50%;
  text-align:center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.info-text h5{
	color:#fff;
	font-size:1.8em;
	border-bottom:4px double #fff;
	padding-bottom:0.5em;
	margin-bottom:0.5em;
}
.info-text p{
	color:#fff;
	font-size:0.9em;
	line-height:2em;
}
.col-1 {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve3d;
  -moz-transform-style: preserve3d;
  -ms-transform-style: preserve3d;
  -o-transform-style: preserve3d;
  transform-style: preserve3d;
}
.col-1 .col-1-top {
  z-index: 1;
}
.col-1 .col-1-bottom {
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.col-1.bottom .col-1-bottom {
  -webkit-transform: translateY(100%) rotateX(-90deg);
  -moz-transform: translateY(100%) rotateX(-90deg);
  -ms-transform: translateY(100%) rotateX(-90deg);
  -o-transform: translateY(100%) rotateX(-90deg);
  transform: translateY(100%) rotateX(-90deg);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
}

.col-1:hover .col-1-bottom {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateX(0) rotateY(0);
  -moz-transform: translateX(0) rotateY(0);
  -ms-transform: translateX(0) rotateY(0);
  -o-transform: translateX(0) rotateY(0);
  transform: translateX(0) rotateY(0);
}
/*--newslwtter--*/
.ser-top1  {
	margin-bottom:4em;
}
.ser-top1 h3 {
	color:#fff;
}
.ser-t1 b{
    background: #000;
}
.ser-t1  span{
    background: #48494b; 
}
.ser-t1  span i{
    border: 2px solid #000;   
}
.news-letter {
    background: #48494b;
    padding: 5em 0;
}
.news-letter input[type="text"] {
    outline: none;
    padding: 14px 10px;
    color: #848484;
    font-size: 16px;
    border: 1px solid #dadada;
	    width: 43%;
    float: left;
    margin-right: 2%;
}
.news-letter input[type="submit"]{
    color: #fff;
    background:#000;
    border: none;
    font-size: 1em;
    outline: none;
    text-transform: uppercase;
	float:left;
	
}
.news-letter input[type="submit"]:hover {
    background:#5a5b5d;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--footer--*/
.footer{
    background:#232323;
    padding: 5em 0;
}
.footer-bottom h4,.footer-bottom1 h4{
	font-size: 2.2em;
    font-weight: bold;
    color: #48494b;
    margin-bottom: 0.5em;
}
.footer-bottom1 h4{
    margin-bottom: 1em;
}
.footer-bottom p{
	font-size: 1.4em;
	color: #fff;
	line-height: 1.5em;
	width: 80%;
}

.social li{
	display:inline-block;
}

.social li a  {
    width: 80px;
    height: 80px;
    display: block;   
    border: 1px solid #48494b;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
}
.social li a:hover  {   
    background:#48494b;
}
.social li a i {
    width: 80px;
    height: 80px;
    display: block;
    background: url(../../images/img-spr.png)no-repeat 18px 13px ;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
}
.social li a i.icon {
	background: url(../../images/img-spr.png)no-repeat -66px 13px;
}
.social li a i.icon1 {
	background: url(../../images/img-spr.png)no-repeat -161px 13px;
}
.social li a i.icon2 {
	background: url(../../images/img-spr.png)no-repeat -251px 13px;
}

.copy{
	background:#232323;
    padding: 1.5em 0;
}
p.footer-grid {
    font-size: 1em;
    color: #fff;
	text-align:center;
}
p.footer-grid a{
	text-decoration:none;
	color:#48494b;
}
p.footer-grid a:hover{
	color:#fff;
}
/*--//footer--*/
/*--gallery--*/
figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid #fff;
}

figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}

figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
	padding: 5em 2em;
}

figcaption h3 {
    color: #48494b;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 2.2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}

figcaption p {
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    left: 100%;
    font-size: 0.9em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

figure:hover h3,figure:hover p {
    left: 0;
}
/*----*/
.gallery h2 {
    text-align: center;
    font-size: 3em;
    color: #000;
    margin-bottom: 0.5em;
	font-weight: bold;
}
.gal-gd{
	margin:2em 0;
}
.gal-btm {
    margin-top: 4em;
}
/*--//gallery--*/
/*-- contact --*/
.contact{margin: 2.5em auto;margin-top: 0;}
.contact form{
	margin-top:6em;
}
.contact h2{
    font-size: 3em;
    color: #000;
    margin-bottom: 0.5em;
	font-weight: bold;
	text-align: left;
}
.contact-grid1{
	text-align: center;
}
.con-ic{
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid #48494b;
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(45deg) translate3d(0, 0, 0);
    -o-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
	    margin: 0 auto;
}
.contact-grid1 i {
    width: 30px;
    height: 30px;
    font-size: 0.9em;
    color: #000;
    -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
    -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
    -o-transform: rotate(-45deg) translate3d(0, 0, 0);
    transform: rotate(-45deg) translate3d(0, 0, 0);
    line-height: 1.9em;
}
.contact-grid1 h4{
	    font-size: 1.5em;
    color: #000;
    margin:1em 0 0.5em;
}
.contact-grid1 p{
	font-size:1em;
	color:#48494b;
	line-height:1.5em;
	margin:0;
}
.contact-grid1 p a{
	color:#48494b;
	text-decoration:none;
}
.contact-grid1 p a:hover{
	color:#000;
}
.contact-grid1 p span{
	display:block;
}
.contact-grids{
	margin:5em 0 0;
}
.contact-form1 h4,.contact-me h4{
	font-size:1em;
	color:#48494b;
	margin:0 0 .5em;
}
.contact-form1{
	padding:0 1em 0 0;
}
.contact-form{
	padding:0;
}
.contact-form1 input[type="text"],.contact-form1 input[type="email"],.contact-me textarea{
	outline:none;
	padding:10px;
	border:1px solid #DFDFDF;
	background:#EAEAEA;
	font-size:14px;
	color:#999;
	width:100%;
}
.contact-me textarea{
	min-height:300px;
}
.contact-me{
	margin-top:1em;
}
.contact-grids1 input[type="submit"]{
	outline: none;
    padding: 10px 0;
    border: none;
    background: #48494b;
    font-size: 1em;
    color: #fff;
    width: 100%;
    margin: 1.5em 0 0 0em;
}
.contact-grids1 input[type="submit"]:hover{
	background:#000;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.map iframe{
	width:100%;
	min-height:500px;
}
/*-- //contact --*/
/*--test--*/
.test-top-g {
    text-align:center;
	margin-bottom: 4em;
}
.test-top-g h3 {
    text-align: center;
    margin-bottom: 0.4em;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}
.test {
    padding: 5em 0;
	background: url(../../images/tt.jpg) no-repeat center;
    width: 100%;
    min-height: 402px;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
.test-top2 {
    background: #fff;
    padding: 1.5em;
}
.test-top3 {
    background: #48494b;
	padding: 1.5em;
}
.test-top2 p{
	float: right;
    color: #999;
    font-size: 0.9em;
    line-height: 2em;
    width: 86%;
}
.test-top2 img{
	float:left;
}
.test-top3 img{
	float:left;
	border-radius: 100px;
    width: 20%;
    border: 2px solid #fff;
}
.test-top3 h6{
	float: right;
    color: #fff;
    font-size: 1em;
    line-height: 2em;
    width: 76%;
    margin-top: 1em;
    margin-left: 4%;
	font-style: italic;
}
/*--test--*/
.col-left{
	float:left;
}
.col-left span{
	color:#48494b;
	font-size: 5em;
	display: block;
	font-weight: 600;
	transform: rotate(-90deg);
}
.col-right{
	float:right;
	width: 72%;
}
.col-right h6{
	margin:0;
	font-size: 1.3em;
	color: #000;
}
.col-right p{
	margin: 1.2em 0 0;
	font-size: 0.9em;
	line-height: 1.9em;
	color: #999;
}
.wel h6{
	font-size:0.9em;
	color:#999;
	font-style: italic;
}
.wel h2{
	font-size: 3.2em;
    color: #000;
    font-weight: 900;
    margin: 0.1em 0;
}
.wel p{
	font-size: 0.9em;
	line-height: 1.9em;
	color: #999;
}
.us-col{
	margin-bottom:2em;
}
/*--//about--*/
/*--typo--*/
.ser-top-c {
    margin-bottom: 6em;
}
.page {
    padding: 5em 0;
}
.page-header h3{
	font-size: 2.5em;
	color:#48494b;
	font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
	margin: 1em 0 0;
}

.form-horizontal .control-label {
  text-align: left;
}
/*--//typo--*/

@media(max-width:1440px){
.col-grid h3 {
    font-size: 2.3em;
}
.col-grid-left {
    padding: 3.75em;
}
}
@media(max-width:1366px){
.col-grid h5 {
    font-size: 1.5em;
}
.col-grid-left {
    padding: 1.9em;
}
}

@media(max-width:1280px){
.wel h2 {
    font-size: 2.8em;
}
}
@media(max-width:1024px){
.navbar-top {
    width: 67%;
}
.ser-grid {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.ser-grid1 h3 {
    font-size: 1.1em;
}
.team-top1 {
    width: 150px;
    height: 150px;
}
.team-top1 img {
  width: 150px;
  height: 150px;
}
.ser-grid1 {
    top: 8%;
    left: 4%;
}
.ser-grid1 p {
    font-size: 0.7em;
}
.col-grid h3 {
    font-size: 1.8em;
}
.col-grid h5 {
    font-size: 1.2em;
}
.info-text p {
    font-size: 0.75em;
}
.col-1-bottom .info-text {
    padding: 1em;
}
.zoom-icon1 {
    margin: 2.1em 0 0 1em;
}
.social-ic li a {
    margin: 0 0.1em;
}
.test-top3 h6 {
    margin-top: 0.5em;
}
.news-letter input[type="text"] {
    width: 42%;
}
.map iframe {
    min-height: 350px;
}
.footer-bottom h4, .footer-bottom1 h4 {
    font-size: 2em;
}
.service {
    padding: 5em 0 6em;
}
.ser-top {
    margin-bottom: 6em;
}
.team {
    padding: 5em 0 6em;
}
.test {
    padding: 5em 0;
}
figcaption {
    padding: 3.8em 1em;
}
figcaption h3 {
    font-size: 1.8em;
}
figcaption p {
    font-size: 0.8em;
}
.gallery {
    padding: 5em 0;
}
.wel h2 {
    font-size: 2.5em;
}
.content-about {
    padding: 5em 0;
}
.contact {
    padding: 5em 0;
}
.header {
    height: 750px;
}
.header1 {
    height: 92px;
}
.banner {
    margin-top: 10em;
}
/*--typo--*/
h1.grid2 {
  font-size: 2.3em;
}
}
@media(max-width:991px){
ul.nav.navbar-nav li a {
    margin: 0 5px;
	font-size: 0.9em;
}
.logo h1 {
    font-size: 1.5em;
}
.logo h1 a span {
    width: 35px;
    height: 35px;
}
.navbar-nav {
    margin-top: 1.5em;
}
.header-left {
    margin-top: 1.2em;
}
.header-left ul li {
    margin: 0 0.3em;
}
.navbar-top {
    width: 65%;
}
.header {
    height:650px;
}
.header1 {
    height: 87px;
}
.banner {
    margin-top: 8em;
}
.banner span {
    margin: 4em 0 3em;
}
.ser-t {
    width: 30%;
}
.ser-head {
    width: 50%;
	margin-bottom: 2em;
}
.col-grid-1 {
    width: 50%;
    float: left;
}
.team-top {
    width: 50%;
	margin-top: 2em;
}
.service {
    padding: 4em 0 5em;
}
.team {
    padding: 4em 0 6em;
}
.test {
    padding: 4em 0;
}
.test-top1 {
    width: 50%;
    margin: 0 auto 1em;
}
.test-top3 {
    padding: 1em;
}
.test-top3 h6 {
    margin-top: 0.8em;
}
.news-letter input[type="text"] {
    width: 40%;
}
.ser-top {
    margin-bottom: 4em;
}
.news-letter {
    padding: 4em 0;
}
.team-top1 {
    margin: 0 auto;
}
.zoom-icon1 h5 {
    font-size: 1.5em;
}
.footer {
    padding: 4em 0;
}
.footer-bottom1 {
    margin-top: 2em;
}
.map iframe {
    min-height: 300px;
}
.news-letter {
    padding: 3em 0;
}
.wel h2 {
    font-size: 2.2em;
}
.content-about {
    padding: 4em 0;
}
.gallery {
    padding: 4em 0;
}
.gal-gd-sec {
    width: 50%;
    float: left;
    padding: 0 0.2em;
}
.gal-gd {
    margin: 0.4em 0;
    width: 33.33%;
    float: left;
    padding: 0 0.2em;
}
figcaption h3 {
    font-size: 1.5em;
}
figcaption p {
    margin-top: 10px;
}
figcaption {
    padding: 3.3em 1em;
}
.col-left span {
    font-size: 4em;
}
.us-col,.col-us {
    margin-bottom: 1em;
}
.contact {
    padding: 4em 0;
}
.contact-form1 {
    padding: 0;
	margin-bottom:1em;
}
.contact-grids1 input[type="submit"] {
    margin: 0.5em 0 0 0em;
}
.contact-grid {
    margin-top: 1em;
}
.contact-grids {
    margin: 3em 0 0;
}
.contact form {
    margin-top: 4em;
}
.col-1-top img, .col-1-bottom img {
    width: 100%;
}
/*--typo--*/
h1.grid2 {
  font-size: 2.3em;
}
.short-top h3 {
    top: 47%;
}
}

@media(max-width:767px){
.navbar-toggle {
    
    float: right;
	padding:0;
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
ul.nav.navbar-nav li a {
    margin: 7px 0px;
    display: inline-block;
    text-align: center;
    width: auto;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-toggle .icon-bar {
    width: 27px;
    height: 3px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-top {
    width: 50%;
    margin: 0;
}
.navbar-nav {
    margin: 7.5px 0px;
}
.navbar-nav {
    width: 100%;
}
/*----*/
div#bs-example-navbar-collapse-1 {
    background: #000;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 87%;
    z-index: 999;
}
ul.nav.navbar-right {
    text-align: center;
}
.navbar-right .dropdown-menu {
    min-width: 100%;
    position: relative;
	text-align:center;
}
.header-phone{
    display: none !important;
}
.navbar-toggle .icon-bar {
    background: #48494b;
}
.navbar-toggle {
    margin: 21px 21px 0;
    background: none;
    float: right;
}
.navbar-nav > li > a {
    width: 25%;
    text-align: center;
    margin: 5px auto;
}
div#bs-example-navbar-collapse-1 {
    width: 95.2%;
    margin-top: 1em;
}
}
@media(max-width:760px){
.banner p {
    width: 75%;
}
.banner {
    margin-top: 4.5em;
}
.header {
    height: 500px;
}
.header1 {
    height: 129px;
}
.ser-top h3 {
    font-size: 2.5em;
}
.service {
    padding: 3em 0 4em;
}
.ser-head {
    width: 47%;
}
.test-top1 {
    width: 75%;
}
.test {
    padding: 3em 0;
}
.test-top-g {
    margin-bottom: 3em;
}
.news-letter input[type="text"] {
    width: 39%;
}
.footer {
    padding: 3em 0;
}
.test-top-g h3 {
    font-size: 2.5em;
}
.team {
    padding: 3em 0 5em;
}
.content-about {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0;
}
figcaption h3 {
    font-size: 1.2em;
}
figcaption {
    padding: 2.5em 1em;
}
.contact h2 {
    font-size: 2.5em;
}
.contact form {
    margin-top: 3em;
}
.contact {
    padding: 3em 0;
}
.gallery h2 {
    font-size: 2.5em;
}
figcaption.gal-text {
    padding: 1.6em 1em;
}
/*--typo--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
.b-wrapper1.long-img {
    padding-top: 16em;
}
td.add-check a {
    width: 106px;
}
.heart li a {
    margin: 0 0.3em;
}
.page-header h3 {
    font-size: 2.5em;
}
}
@media(max-width:600px){
.navbar-top {
    width: 100%;
    float: none;
}
.header-left {
    float: right;
    margin: auto;
}
.banner-text {
    width: 70px;
    height: 70px;
}
.banner h2 {
    font-size: 3em;
    line-height: 1.3em;
    width: 70px;
    height: 70px;
}
.banner span {
    margin: 3em 0 2em;
}
.ser-head {
    width: 46%;
}
.ser-top h3 {
    font-size: 2.3em;
}
.ser-t {
    width: 45%;
}
.team-top {
    width: 47%;
    margin-top: 3em;
}
.test-top-g h3 {
    font-size: 2.2em;
}
.test-top1 {
    width: 95%;
}
.team {
    padding: 2.5em 0 4em;
}
.col-grid h3 {
    font-size: 1.6em;
}
.news-letter input[type="text"] {
    width: 100%;
    margin: 0em 0 1em;
}
.footer-bottom h4, .footer-bottom1 h4 {
    font-size: 1.5em;
}
.footer-bottom p {
    font-size: 1.2em;
    width: 100%;
}
.contact h2 {
    font-size: 2em;
}
.contact {
    padding: 2em 0;
}
.contact-me textarea {
    min-height: 203px;
}
.gal-gd-sec {
    width: 100%;
    float: left;
    padding: 0 0em;
}
.gal-gd {
    margin: 0.4em 0;
    width: 100%;
    float: left;
    padding: 0 0em;
}
.gal-gd img{
    width: 100%;
}
.gallery h2 {
    font-size: 2em;
}
.gal-btm {
    margin-top: 3em;
}
figcaption h3 {
    font-size: 2em;
}
figcaption {
    padding: 4em 1em;
}
div#bs-example-navbar-collapse-1 {
    width: 93.2%;
}
/*--typo--*/
.page-header h3 {
  font-size: 2em; 
}
button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}
.media-1 {
    padding-left: 0em;
}
}
@media(max-width:414px){
.logo h1 {
    font-size: 1.2em;
}
.logo h1 a span {
    width: 32px;
    height: 32px;
}
.banner h2 {
    font-size: 2.5em;
    line-height: 1em;
    width: 50px;
    height: 50px;
}
.banner-text {
    width: 50px;
    height: 50px;
}
.banner span {
    margin: 2em 0 1em;
}
.banner p {
    width: 100%;
    line-height: 1.8em;
    font-size: 0.8em;
}
.header {
    height: 376px;
}
.header1 {
    height: 125px;
}
.banner {
    margin-top: 2em;
}
.ser-head {
    width: 95%;
    float: none;
    margin: 0 auto;
}
.ser-grid {
    width: 127px;
    height: 127px;
    margin: 0 auto 2em;
}
.test-top2 {
    padding: 1em;
}
.ser-grid1 i {
    font-size: 1.7em;
}
.ser-grid1 h3 {
    font-size: 1em;
}
.ser-grid1 p {
    font-size: 0.69em;
}
.ser-top h3 {
    font-size: 2em;
}
.ser-t {
    width: 65%;
}
.news-letter input[type="text"] {
    padding: 8px 10px;
}
.news-letter input[type="submit"] {
    padding: 8px 20px;
}
.news-letter {
    padding: 2em 0;
}
.footer-bottom {
    padding: 0;
}
.footer-bottom h4, .footer-bottom1 h4 {
    font-size: 1.3em;
}
.footer-bottom p {
    font-size: 1em;
}
.team-top {
    width: 100%;
    margin-top: 3em;
}
.footer-bottom1 {
    margin-top: 1.4em;
    padding: 0;
}
.col-grid-left {
    padding: 1em;
}
.social li a i {
    width: 40px;
    height: 40px;
	background: url(../../images/img-spr.png)no-repeat 7px 4px;
	background-size: 225px;
}
.social li a {
    width: 40px;
    height: 40px;
}
.social li a i.icon {
    background: url(../../images/img-spr.png)no-repeat -39px 4px;
    background-size: 225px;
}
.social li a i.icon1 {
    background: url(../../images/img-spr.png)no-repeat -146px 4px;
    background-size: 225px;
}
.social li a i.icon2 {
    background: url(../../images/img-spr.png)no-repeat -145px 4px;
    background-size: 225px;
}
.footer {
    padding: 2em 0;
}
.map iframe {
    min-height: 200px;
}
p.footer-grid {
    font-size: 0.9em;
    padding: 0 1em;
}
.test-top1 {
    width: 100%;
    padding: 0;
}
.test {
    padding: 2em 0;
}
.col-grid h3 {
    font-size: 1.1em;
}
.us-grid {
    padding: 0;
}
.us-col, .col-us {
    margin-bottom: 1em;
    padding: 0;
}
.ser-top {
    margin-bottom: 3em;
}
.content-about {
    padding: 2em 0;
}
.gallery {
    padding: 2em 0;
}

figcaption h3 {
    font-size: 1.5em;
}
figcaption {
    padding: 1.2em 1em;
}
figcaption.gal-text {
    padding: 4em 1em;
}
.col-grid-1 {
    width: 100%;
}
div#bs-example-navbar-collapse-1 {
    width: 91.2%;
}
/*--typo--*/
h1#h1-bootstrap-heading {
  font-size: 1.6em;
}
h2#h2-bootstrap-heading {
  font-size: 1.5em;
}
h3#h3-bootstrap-heading {
  font-size: 1.4em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}
.page {
  padding: 3em 0 1em;
}
.page-header {
  margin: 16px 0 9px;
}
.grid2 {
  margin: 0.4em 0 0;
}
.bs-example {
  padding: 1em 0 0;
}
.page-header h3 {
    font-size: 1.6em;
}
td.add-check a {
    width: 86px;
}
}

ul.cate ul {
    margin-left: 2em;
}
ul, label {
    margin: 0;
    padding: 0;
}
.categories ul li a {
    color: #999;
    text-decoration: none;
}
.categories ul li i {
    margin-right: 1em;
    color: #FF7000;
}
ul li {
    list-style-type: none;
}
.categories ul li {
    display: block;
    color: #999;
    font-size: 1em;
    margin-bottom: 1em;
}
ul.cate, .price-head, .color-top {
    padding: 2em 0;
}
.categories h3, .price h3, .colors h3, .sellers h3 {
    font-size: 1.5em;
    color: #FFFFFF;
    margin: 0;
    padding: .5em;
    background: #000000;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
}
.mens-toolbar p select {
    color: #000;
    font-size: 0.9em;
    outline: none;
    cursor: pointer;
    padding: 0.3em;
    border: none;
}
.showing {
    margin: 0 3em;
}
.mens-toolbar p {
    color: #000;
    font-size: 1em;
    display: inline-block;
}
.mens-toolbar {
    padding: 0 1em 1em;
}
.grid-pro .grid-product figure:hover .grid-img + .grid-img{
  right: 100%;
}
.grid-pro .grid-product figure > a .grid-img + .grid-img img {
  max-width: none;
}
.item-gr {
    cursor: pointer;
    padding-bottom: 30px !important;
}
.no-top-pad {
    
}
.grid-pro {
    padding: 1em;
    box-shadow: 8px 8px 6px rgb(18 17 17 / 11%);
}
.no-border{
    border: none !important;
}
.grid-product {
    width: 70%;
    margin: 0 auto;
}
.grid-pro .grid-product figure {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 0 20px 0;
    width: 100%;
}
.grid-pro .grid-product figure > a {
    display: block;
    float: left;
    width: 100%;
    z-index: 1;
}
a {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
}
.grid-pro .grid-product figure > a .grid-img {
    width: 100%;
    line-height: 0;
    will-change: right;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.grid-pro .grid-product figure > a .grid-img img {
    width: 100%;
}

.women {
    text-align: center;
}

.but, [class*="but-"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0 0.6em;
    height: 27px;
    font: 300 1em/3.5em 'Cabin', sans-serif;
    text-decoration: none;
    line-height: 1.9em;
    color: #fff;
    background: #FF7000;
    -moz-transition: ease 0.35s all;
    -ms-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
    text-decoration: none;
    font-size: 0.9em;
}

em.item_price {
    font-style: normal;
    color: #000;
}
.women p del {
    font-size: 0.9em;
    margin-right: 4px;
}
.women p {
    font-size: 1em;
    color: #999;
    margin: 0.9em 0;
}
.women h6 {
    font-size: 1.15em;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}
.women h6 a {
    color: #181717 !important;
    text-decoration: none;
}
.item_price{
    color: #de0101 !important; 
}
.radius{border-radius: 3px;}

figure {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
.grid-pro .grid-product figure > a .grid-img {
  width: 100%;
  line-height: 0;
  will-change: right;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.grid-pro .grid-product figure > a .grid-img + .grid-img {
    position: absolute;
    top: 0;
    right: 0;
    -moz-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
    -o-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
    -webkit-transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
    transition: right 0.7s cubic-bezier(0.75, 0, 0.175, 1), opacity 0.7s cubic-bezier(0.75, 0, 0.175, 1);
}
.but:hover, [class*="but-"]:hover {
    background: #01CFCF;
    color: #fff;
    text-decoration: none;
}
.but:focus, [class*="but-"]:focus {
    color: #fff;
    text-decoration: none;
}
.product .container{margin-top:2%;}
.span_2_of_a1 h3 {
    color: #000;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
p.in-para {
    color: #999;
    font-size: 1em;
    line-height: 2em;
    margin: 1em 0;
    border-bottom: 1px solid #f0f0f0;
    border-top: 3px double #f0f0f0;
    padding: 1em 0;
}
.price_single {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1em;
}
span.reducedfrom {
    color: #de0101;
    font-size: 1.5em;
    float: left;
}
.price_single a {
    float: right;
    margin-top: 0.5em;
}
.sap_tabs {
    padding: 1em 0;
}
.resp-tabs-list {
    width: 100%;
    list-style: none;
    padding: 0;
    background: #ECECEC;
}
.resp-tab-item:first-child {
    border-left: none;
}

.resp-tab-active {
    background: #FF7000;
    color: #fff;
}
.resp-tab-item {
    cursor: pointer;
    padding: 12px 18px;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    float: left;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #ECECEC;
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
}
h2.resp-accordion {
    font-size: 1em;
    margin: 0px;
    padding: 10px 15px;
    background: #f77462;
    margin: 10px 0;
    color: #fff;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.facts {
    padding: 1em 0;
}
.facts ul li {
    list-style: none;
    color: #999;
    font-size: 1em;
    padding: 0.3em 0;
}
.resp-tab-active {
    background: #FF7000;
    color: #fff;
}


.dropdown {
    position: relative;
    display: inline-block;
}
@media (max-width: 767px){
.dropdown-content a{
    text-align: left !important;
    display: block !important;
}

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	text-align: left !important;
	padding: 5px;
}

.dropdown-content a {
    padding: 5px 0px !important;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
	
}
body{
line-height: unset;}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
a:hover {
    text-decoration: none;
}
.dropdown-content a:hover{
    color: rgb(56 54 54 / 56%) !important;}
.bg-light {
    background-color: #f8f9fa!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}}
.btn-outline-secondary {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #454546;
}
.navbar-default {
    border: none;
    background: #6c757d;
    min-height: auto;
    margin-bottom: 0;
}
.btn.pld.btn-default.navbar-btn{text-transform: uppercase;
    font-weight: 600;}
.viewcart,.loader-6{display:none;}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
/* LOADER 6 */

#loader-6{
  top: 40px;
  left: -2.5px;
}

#loader-6 span{
  display: inline-block;
  width: 5px;
  height: 20px;
  background-color: #fff;
}

#loader-6 span:nth-child(1){
  animation: grow 1s ease-in-out infinite;
}

#loader-6 span:nth-child(2){
  animation: grow 1s ease-in-out 0.15s infinite;
}

#loader-6 span:nth-child(3){
  animation: grow 1s ease-in-out 0.30s infinite;
}

#loader-6 span:nth-child(4){
  animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50%{
    -webkit-transform: scaleY(1.8);
    -ms-transform: scaleY(1.8);
    -o-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

.loader-6-bg{    width: 100%;
    top: 50%;
    position: fixed;
    left: 50%;
    margin: auto;    z-index: 99999999;}

.loader-layer{background: #626365;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    height: 100vh;
    opacity: 0.5;
    overflow: hidden;
    position: fixed;}


    .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 767px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
.view_cart_btn{float:right}
.front-end form{margin-top: 25px}
.alert {padding: 8px !important;}

.details{width:80%;height:auto;margin:0 auto;padding:120px 0 0 40px;position:relative}
.details .content{width:790px;min-height:320px;background:#706996;padding:60px 0 0 0;position:absolute;top:60px;left:0;z-index:1}

.year-round .details .content,.seasonal .details .content{width:80%;padding:20px 20px 0 430px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.specialty .details .content,.heritage .details .content{width:770px;padding:20px 20px 20px 200px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.draft .details .content{padding:40px 20px 20px 300px;width:770px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.seasonal .details .reflect canvas,.specialty .details .reflect canvas{position:relative;top:-20px}
.details .content .box{width:100px;height:auto;margin:0 0 15px 0;padding:5px 0 0 20px}
.details .content .box p{padding:0 0 5px 0 !important}
.details .content .availability{list-style:none;position:absolute;top:30px;right:60px}
.details .content .availability li{font-size:12px;color:#FFF;text-transform:uppercase;margin:0 0 0 20px;padding:55px 0 0 0;float:left}

.details .content p{font-size:14px;color:#FFF;line-height:20px;padding:0 0 15px 20px}
.details .content p strong{text-transform:uppercase}
.details .content .jagged-left,#donate .jagged-left{width:10px;height:380px;background:url(images/jagged-left.png) center;position:absolute;top:0;left:0;z-index:2}
.details .content .jagged-right,#donate .jagged-right{width:10px;height:380px;background:url(images/jagged-right.png) center;position:absolute;top:0;right:0;z-index:2}
.details img{position:relative;z-index:2}
.details .image{width:210px;height:auto;border-top:3px solid #fff;border-bottom:3px solid #fff;padding:20px 0;display:block;position:absolute;top:20px;left:40px;z-index:2}
.details .image img{margin:0 auto 20px auto;display:block}
.details .image span.apple{width:36px;height:18px;background-position:center bottom;background-repeat:no-repeat;margin:0 0 0 -18px;display:block;position:absolute;bottom:-9px;left:50%}
.details .image span.name{font-size:24px;color:#fff;font-weight:700;text-align:center;text-transform:uppercase;display:block}
.details .image span.type{font-size:24px;color:#fff;font-weight:700;text-align:center;text-transform:uppercase;display:block}
.details .next a{text-indent:-999px;width:61px;height:29px;background:url(images/next-back.png) top right;margin:-15px 0 0 0;position:absolute;top:235px;right:12%;overflow:hidden}
.details .next a:hover{background:url(images/next-back.png) bottom right}
.details .prev a{text-indent:-999px;width:61px;height:29px;background:url(images/next-back.png) top left;margin:-15px 0 0 0;position:absolute;top:50%;left:0;overflow:hidden}
.details .prev a:hover{background:url(images/next-back.png) bottom left}
.bx-wrapper{    margin-left: 190px !important;}
.align-cent{
	text-align: center !important;
}
.span1 {width: 25px; float: left; height:100%; }
.span2 {width: 24px; float: right; }
@media (min-width: 767px) {
    .item-grid .grid-pro {
        border: 1px solid #a5a3a3;
    }
   
}
@media (max-width: 767px){
    .dropdown-content{position: unset !important;}
}
@media (max-width: 600px){
    .navbar-toggle{
    margin: -36px 21px 0;
}}

@media(min-width:768px) and (max-width:991px) {
    div#bs-example-navbar-collapse-1{    width: 593px;
        font-size: 14px;}
    .header-phone {
        display: none !important;
    }
}
@media(min-width:992px) and (max-width:1199px){
div#bs-example-navbar-collapse-1{width: 680px;
    font-size: 14px;}}

    @media(min-width:601px) and (max-width:767px){
        #cart>tbody .row.col-xs-8 {
            width: 100% !important;
        }
        #cart>tbody>tr>td .row.col-xs-4 {
            width: 59% !important;
        }
    }
    @media(max-width:995px){.overflow-scroll{overflow-x: scroll;}
    .width200{width: 300%;}}


    #invoicetable td, #invoicetable th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .footer-bottom h4,.footer-bottom1 h4{color:#fff;}
    .btn-primary{
        background-color: #48494b;
        border: 1px solid #48494b;
        padding: 8px 8px !important;
    }
    .btn-primary:hover{
    background: #5a5b5d;
        border: 1px solid #5a5b5d;}
        .test-top-g h3{
            font-size: 25px !important;
            color: #fff;	
        }
        .ser-top h3 {
            font-size: 25px;
            margin-bottom: 1em;
            margin-top: 3em;
            color: #48494b;
        }